﻿@model BlogMVC.Models.PostViewModel

@{
    ViewData["Title"] = "Details";
}

<div>
    <h1>Post #@Model.Id</h1>
</div>

<hr />

<div>
    <dl class="row">
        <dt class="col-sm-2">
            <img class="img-thumbnail" src="@Url.Action("GetImage", new { id = Model.Id })">
        </dt>
        <dd class="col-sm-10">
            <h3>@Html.DisplayFor(model => model.Titulo)</h3>
            @Html.DisplayFor(model => model.Contenido)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Categoria)
        </dt>
        <dd class="col-sm-10">
            <span class="badge badge-pill badge-secondary">@Html.DisplayFor(model => model.Categoria)</span>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaCreacion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
