﻿@model BlogMVC.Models.PostViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<hr />

<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm("Edit", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="form-group">
                <label class="control-label" for="Titulo">Title*</label>
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label" for="Contenido">Message*</label>
                @Html.TextAreaFor(i => i.Contenido, new { @class = "form-control" })
                <span asp-validation-for="Contenido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label" for="ImgFile">Image (.png)</label>
                <input asp-for="ImgFile" accept="image/png" />
                <span asp-validation-for="ImgFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label" for="Categoria">Category*</label>
                <input asp-for="Categoria" class="form-control" />
                <span asp-validation-for="Categoria" class="text-danger"></span>
            </div>

            @Html.HiddenFor(model => model.Imagen)
            @Html.HiddenFor(model => model.FechaCreacion)

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        }
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

