﻿@model List<BlogMVC.Models.PostViewModel>


@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Posts</h1>
    <table class="table table-sm table-striped">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var post in Model)
            {
                <tr>
                    <td>@post.Titulo</td>
                    <td>
                        @Html.ActionLink("Details", "Details", new { id = post.Id }, new { @class = "btn btn-outline-primary" })
                        @Html.ActionLink("Edit", "Edit", new { id = post.Id }, new { @class = "btn btn-outline-warning" })
                        @Html.ActionLink("Delete", "Delete", new { id = post.Id }, new { @class = "btn btn-outline-danger", @onclick = "return confirm('Are you sure to delete it?');" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
