﻿@model BlogMVC.Models.PostViewModel

@{
    ViewData["Title"] = "New";
}

<h1>New Post</h1>

<hr />

<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm("New", "Home", FormMethod.Post, new { enctype = "multipart/form-data" })) {
        <div class="form-group">
            <label class="control-label" for="Titulo">Title*</label>
            <input asp-for="Titulo" class="form-control" />
            <span asp-validation-for="Titulo" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="control-label" for="Contenido">Message*</label>
            @Html.TextAreaFor(i => i.Contenido, new { @class = "form-control" })
            <span asp-validation-for="Contenido" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="control-label" for="ImgFile">Image (.png)*</label>
            <input asp-for="ImgFile" accept="image/png" />
            <span asp-validation-for="ImgFile" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="control-label" for="Categoria">Category*</label>
            <input asp-for="Categoria" class="form-control" />
            <span asp-validation-for="Categoria" class="text-danger"></span>
        </div>

        <div class="form-group">
            <input type="submit" value="Post" class="btn btn-primary" />
        </div>
        }
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

